html,body{
    background-color: hsl(216, 50%, 16%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif; 
}


body{
    height: 100vh;
    display:flex;
}

.tarjeta{
    background-color: hsl(215, 32%, 27%);
    width: 375px; height: 50vh;
    margin: auto;
  
}
